body{

font-family:"Yu Gothic",sans-serif;

background:#f2f2f2;

text-align:center;

}


h1{

color:#003366;

}


/* 水球コート */

#court{

position:relative;

width:900px;

height:450px;

margin:auto;

background:#4FC3F7;

border:5px solid white;

box-shadow:0 0 10px gray;

cursor:crosshair;

}



/* センターライン */

#line{

position:absolute;

left:50%;

top:0;

width:3px;

height:100%;

background:white;

}



/* ゴール */

.goal{

position:absolute;

width:12px;

height:100px;

background:red;

top:175px;

}


#leftGoal{

left:0;

}


#rightGoal{

right:0;

}



/* シュートマーク */

.marker{

position:absolute;

width:18px;

height:18px;

border-radius:50%;

transform:translate(-50%,-50%);

border:2px solid white;

}


.goalShot{

background:#00cc00;

}


.missShot{

background:red;

}


.gkShot{

background:#ffcc00;

}



/* 入力パネル */

#panel{

width:900px;

margin:20px auto;

background:white;

padding:20px;

border-radius:10px;

}



input,select{

padding:8px;

margin:5px;

}


button{

padding:10px 20px;

font-size:16px;

}



table{

width:900px;

margin:auto;

border-collapse:collapse;

}



th,td{

border:1px solid black;

padding:8px;

}