#court{


width:800px;

height:400px;

background:#5ec8f5;

margin:20px auto;

border:4px solid #003366;

position:relative;

cursor:pointer;


}



/*センターライン*/

.centerLine{

position:absolute;

width:3px;

height:100%;

background:white;

left:50%;


}




/*ゴール*/

.goal{

position:absolute;

width:100px;

height:20px;

background:white;

top:0;

}



.leftGoal{

left:0;

}



.rightGoal{

right:0;

}




/*シュート位置表示*/

.marker{


position:absolute;

width:15px;

height:15px;

border-radius:50%;

transform:translate(-50%,-50%);


}



.goalMark{

background:red;

}



.missMark{

background:black;

}



.gkMark{

background:yellow;

border:1px solid black;

}




button{

padding:10px 20px;

margin:5px;

}




table{

width:100%;

border-collapse:collapse;

background:white;


}



th,td{


border:1px solid #aaa;

padding:8px;


}
