main{

max-width:1100px;

margin:auto;

padding:30px;

}

.form{

display:flex;

gap:10px;

flex-wrap:wrap;

margin-bottom:20px;

}

#court{

position:relative;

width:900px;

height:450px;

margin:auto;

background:#4FC3F7;

border:5px solid white;

cursor:crosshair;

}

#centerLine{

position:absolute;

left:50%;

width:3px;

height:100%;

background:white;

}

.goal{

position:absolute;

width:12px;

height:100px;

background:red;

top:175px;

}

.left{

left:0;

}

.right{

right:0;

}

table{

width:100%;

margin-top:30px;

border-collapse:collapse;

}

th,td{

border:1px solid #ccc;

padding:10px;

text-align:center;

}

th{

background:#003366;

color:white;

}
